<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiniWeread.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Weread.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MiniWeread.Properties.Settings>
      <setting name="ReadFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ReadFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ReadFormFontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FontColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="BackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="PageCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="XYOffset" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ShotSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ReadOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NextTime" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="AutoSave" serializeAs="String">
        <value>False</value>
      </setting>
    </MiniWeread.Properties.Settings>
    <Weread.Properties.Settings>
      <setting name="ReadFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ReadFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ReadFormFontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FontColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BackColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="PageCount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="XYOffset" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ShotSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ReadOpacity" serializeAs="String">
        <value>1</value>
      </setting>
    </Weread.Properties.Settings>
  </userSettings>
</configuration>